<h1>New Comment</h1>

<%= turbo_frame_tag 'comments' do%>
  <%= form_with(model: [@comment.message, @comment]) do |form| %>
    <div>
      <%= form.label :content, style: "display: block" %>
      <%= form.text_field :content %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
  
  <%= link_to 'back', message_comments_path(@message) %>
<% end %>