<!DOCTYPE html>
<html>
  <head>
    <title>HotwireRailsSample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar">
      <div class="container-fluid">
        <a href="<%= root_path %>" class="navbar-brand">HotwireRailsSample</a>
        <div>
          <ul class="navbar-nav">
            <li class="nav-item"><a href="<%= posts_path %>" class="nav-link">Posts</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container my-md-4">
      <%= yield %>
    </div>
  </body>
</html>
